<html>
  <head>
  </head>
  <body>
      <object id="home" data="https://ticksncrosses.glitch.me/home" height="700"></object>
      <object id="trainer" data="https://ticksncrosses.glitch.me/trainer" height="700"></object>
      <object id="admin" data="https://ticksncrosses.glitch.me/admin" height="700"></object>
  </body>
</html>