<html>
  <head>
  </head>
  <body>
      <object id="student"    height="700"></object>
      <object id="trainer" height="700"></object>
      <object id="admin"   height="700"></object>
  </body>
  <script>
        const serverURL = '<%= commonData.appName %>';
        document.getElementById("student").data=serverURL+"/student";
        document.getElementById("trainer").data=serverURL+"/trainer";
        document.getElementById("admin").data=serverURL+"/admin";
  </script>
</html>