<html>
  <head>
  </head>
  <body>
      <object data="<%= commonData.appName %>/student" height="700"></object>
      <object data="<%= commonData.appName %>/trainer" height="700"></object>
  </body>
</html>